name: Test
on: { push: null, pull_request: null }

jobs:
  test:
    strategy: { matrix: { node-version: [ ^20.10, ^22, ^24, ">=25" ] } }
    runs-on: ubuntu-latest

    steps:
    - { name: Checkout, uses: actions/checkout@v6 }
    - { name: Setup pnpm, uses: pnpm/action-setup@v4, with: { version: ^10, run_install: true } }

    - name: Setup Node.js ${{matrix.node-version}} environment
      uses: actions/setup-node@v6
      with: { node-version: "${{matrix.node-version}}", registry-url: 'https://registry.npmjs.org', cache: pnpm }

    - run: echo $PWD/node_modules/.bin:$PATH > $GITHUB_PATH
    - run: scripts/npm.sh
    - run: scripts/test.sh
